<section id="about-side" class="text-center">
    <div class="container">
        <h1 class="fw-bolder">Contact Us</h1>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h3 class="mb-5">Contact Information</h3>
        <div class="row">
            <div class="col-lg-3 col-6">
                <p>Address: 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="col-lg-3 col-6">
                <p>Phone: + 1235 2355 98</p>
            </div>
            <div class="col-lg-3 col-6">
                <p>Email: info@yoursite.com</p>
            </div>
            <div class="col-lg-3 col-6 mb-5">
                <p>Website yoursite.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="https://demo.graygrids.com/themes/xpeedo/assets/images/hero/agency.png" alt="Alternate Text" class="img-fluid" />
            </div>
            <div class="col-6">
                <form class="form" method="post" action="/home/message">
                    <input name="Name" type="text" class="form-control mb-3" placeholder="Your Name" required>
                    <input name="Email" type="email" class="form-control mb-3" placeholder="Your Email" required>
                    <input name="Subject" type="text" class="form-control mb-3" placeholder="Subject" required>
                    <textarea name="MessageSide" id="" cols="30" rows="10" class="form-control mb-3" placeholder="Message. . ." required></textarea>
                    <button class="mybtn" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</section>