<h1 class="text-center mb-3">Welcome To LuxeHotel Admin</h1>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/banners" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/banner.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Banner</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/abouts" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/about.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>About</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/restaurantcategories" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/rescategory.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Restaurant Category</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/restaurantservices" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/resservice.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Restaurant Service</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/guests" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/guest.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Guest</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/footers" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/footer.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Footer</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/categories" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/category.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Category</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/services" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/service.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Service</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/roomtypes" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/roomtype.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Room Type</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/bookingstatus" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/bookingstatus.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Booking Status</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/rooms" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/banner.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Room</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/amentities" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/amentity.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Amentity</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/roomamentities" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/roomamentity.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Room Amentity</p>
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="mainly">
                <a href="/admin/blogs" class="text-decoration-none text-white">
                    <img src="~/admin/img/navigation/about.jpg" alt="Alternate Text" class="img-fluid" />
                    <p>Blog</p>
                </a>
            </div>
        </div>
    </div>
</div>